<link rel="stylesheet" href="../../stylesheets/navigation.css">
<div id="NavigationBar">
    <a href="/">
        <div class="btn click">
            <img src="../../svg/HomeSVG.svg" alt="">   
         
        </div>
    </a>
    <a href="/search">
        <div class="btn click">  
            <img class="small" src="../../svg/Search.png" alt="">
        </div>
    </a>
    <a href="/weather">

        <div class="btn click">
            <img src="../../images/WeatherPurple.png" alt="">
        </div>
    </a>
    <a href="/newpost">
        
        <div id="newPost" class="btn click">
            <img src="../../svg/more.png" alt="">
        </div>
    </a>
    <!-- <a href="/texttospeech">
        <div class="btn click">  
            <img class="small" src="../../svg/Text-To-SpeechSVG.svg" alt="">
        </div>
    </a> -->
    <a href="/favourite">
        <div class="btn click">
            <img src="../../svg/FavouriteSVG.svg" alt="">
        </div>
    </a>
    <a href="/profile">
        <div class="btn click">
            <img src="../../svg/ProfileSVG.svg" alt="">
        </div>
    </a>
    
</div>
